{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<div>
    <a class="btn btn-primary" href="{{ path('app_admin_crud_index') }}">Ajouter un Admin</a>
</div>
{% endblock %}
