{% extends 'base.html.twig' %}

{% block title %}New Car{% endblock %}
{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('styles/car.css') }}">
{% endblock %}

{% block body %}
    <h1 class="titre">Ajouter un véhicule</h1>

    {{ include('car/_form.html.twig') }}

    <a href="{{ path('app_car_index') }}" class="btnAction">Retour</a>
{% endblock %}
