.footer {
    display: flex;
    width: 100%;
    height: 20rem;
    color: white;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5rem;
}

.imgFooter {
    width: 100%;
    height: 20rem;
    position: absolute;
    z-index: -1;
}

.footer table {
    color: white;
}

.horaire {
    display: flex;
    flex-direction: column;
}

.horaireTable {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.horaireDay {
    display: flex;
    align-items: start;
    padding-right: 3rem;
}

.horaireTr {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.horaireTd {
    display: flex;
    flex-direction: column;
    align-items: end;
}

@media only screen and (max-width: 768px) {

    body {
        margin: 0;
        padding: 0;
        font-family: Rajdhani;
        overflow-x: hidden;
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        color: white;
        justify-content: space-evenly;
        padding-top: 5rem;
    }

    .horaire {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .footer table {
        color: white;
    }

    .imgFooter {
        width: 100%;
        height: 32rem;
        position: absolute;
        z-index: -1;
    }
}