.btnAction {
    display: flex;
    width: 11rem;
    margin: 0 auto;
    background-color: #d9777f89;
    border: 2px solid #D02332;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-top: 2rem;
}


.btnActionModifier {
    background-color: #3f2bf0;
    color: white;
    border: none;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.titre {
    font-size: 3rem;
    color: #D02332;
    margin: 0;
    padding: 5rem;
    text-align: center;
    max-width: 65%;
    margin: 0 auto;
    text-transform: uppercase;
}

.table {
    background-color: #d9777f89;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 60%;
    margin-bottom: 2rem;
    border: 2px solid #D02332;
    border-radius: 1rem;
}

.tableIndex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-bottom: 1px solid #D02332;
}   

.tableTh {
    text-align: start;
}

.tableDescription {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    padding: 1rem;
}  

.tableAction {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1rem;
}


.form {
    flex-direction: column;
    padding-top: 2rem;
    height: auto;
    margin: 0 auto; 
}

.formContent {
    display: grid;
    grid-template-columns: 15rem 18rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 34rem;
    height: auto;
    margin: 0 auto;
    padding: 5px;
    gap: 5px;
    border: 3px solid #D92332;
    background-color: #d9777f88;
    border-radius: 1rem;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
}