{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/contact.css') }}">
{% endblock %}

{% block body %}

<h1 class="titre"> confirmé </h1>

<a href="{{ path('app_home') }}" class="btnAction">Retour</a>
{% endblock %}
