<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('styles/footer.css') }}">
    <script src="https://kit.fontawesome.com/6db39e2efc.js" crossorigin="anonymous"></script>
</head>
<body>
   <footer class="footer">
        <img class="imgFooter" src="{{ asset('images/footer.jpg') }}" alt="logo" class="logo">
        <div>
            <h2>Horaires <i class="fa-regular fa-clock"></i></h2>
            <table>
                        <tr>
                            <td>Lundi</td>
                            <td>8h-12h 14h-18h</td>
                        </tr>
                        <tr>
                            <td>Mardi</td>
                            <td>8h-12h 14h-18h</td>
                        </tr>
                        <tr>
                            <td>Mercredi</td>
                            <td>8h-12h 14h-18h</td> 
                        </tr>
                      </table>
        </div>
        <div>
            <h2>Adresse <i class="fa-solid fa-location-dot"></i> </h2>
            <p>Garage V.PARROT</p>
            <p>29 rue Georges Ohnet</p>
            <p>31000 Toulouse</p>
        </div>
        <div>
            <h2>Contact</h2>
            <p>TEL: 06 71 06 19 19</p>
            <p>Mail:
        </p>
        </div>
    </footer>

</body>