{% extends 'base.html.twig' %}

{% block title %}Liste des Admins{% endblock %}

{% block body %}
    <h1>Liste des Admins</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for admin in admins %}
            <tr>
                <td>{{ admin.email }}</td>
                <td>
                    <a href="{{ path('app_admin_crud_show', {'id': admin.id}) }}">show</a>
                    <a href="{{ path('app_admin_crud_edit', {'id': admin.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun admin</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_crud_new') }}">Ajouter un Admin</a>
{% endblock %}
